.background{
  background-image: url("Imagenes/background.jpg");
}

.columnas{
  background-color: white;
  margin: 15px;
  padding: 20px;
  height: 450px;
  width: 300px;
  border-radius: 1%;
  
}

.tamano{
  width: 200px;
  height: 250px;
  padding: 20px;
}

.carousel-control-prev-icon:hover{
  background-color: darkgray;
  height: 100px;
  width: 35px;
  
}

.carousel-control-next-icon:hover{
  background-color: darkgray;
  height: 100px;
  width: 35px;

}
 

.diseno{
  background-color: white;
  border-radius: 1%;

}

.fila2{
  display: inline-block;
  width: 300px;
  padding: 20px;
  vertical-align: top;
}

